# NikGapps debloater - Supports all devices, all android versions
# Debloat your system as per your need
# just enter the path of the file/folder that you want to remove
# For E.g. 
# /system/app/YouTube
# /system/priv-app/Calculator
# you can also simply mention the Folder name and Debloater will take care of it
# For E.g.
# YouTube
# this will delete the folder from /system/app/YouTube, /system/priv-app/YouTube, /system/product/app/YouTube, /system/product/priv-app/YouTube 
# should you have any further doubts/questions don't hesitate to ask in the telegram channel (@NikGapps)
# removing following apps by default, comment them by adding # before them like below if you don't want to remove them during installation
# YouTube
#-------------------------------------------------------#
## Debloater Configuration
#-------------------------------------------------------#
